{% extends "layout.html" %}

{% block title %}
    Checklist
{% endblock %}

{% block main %}
<h1>Checklist</h1>
<div class="container custom-container">
    {% for check in checklist %}
        <div class="form-check form-switch mb-3 d-flex flex-row justify-content-between rounded border border-dark p-2">
            <input type="checkbox" name="completed" {% if check[3] %}checked{% endif %} onchange="updateCheck({{ check[0] }})" class="custom-checkbox">
            <label class="form-check-label" for="{{ check[0] }}">
                {{ check[2] }}
            </label>
            <form action="{{ url_for('delete_checklist', check_id=check[0]) }}" method="post">
                <button class="btn delete-guest">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
    {% endfor %}
</div>
<form action="/add_checklist" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto custom-input" id="item" name="item" placeholder="Description" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Add Checklistelement</button>
</form>
{% endblock %}
